
<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<%= link_to 'Editar', edit_customer_path(@customer) ,class:"btn btn-warning"%> |
<%= link_to 'Voltar', customers_path, class:"btn btn-secondary"%>
